<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="css/styles.css">

	   <title>Express Archive</title>

  </head>
  <body>
    <div class="container center">
        <div class="col-md-6 offsett-md-3">
            <img class="imgMargin" src="/img/express.jpg">
            <h1>
                Express JS Archive
            </h1>
          	<%for(var i = 0; i < Posts.length; i++) {%>
          		<ul class="list-group">
          			<% if(Posts[i].Category == 'express') {%>
          				<div>
          					<li class="list-group-item">
          						<a href="<%=Posts[i].URL %>" target="_blank">
                                    <%=Posts[i].Title %>
                                </a>
          					</li>
            			</div>
          			<% } %>
          		</ul>
          	<% } %>
        </div>
    </div>

<%include ./partials/footer %>