<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="css/styles.css">

     <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

	<title>Node Archive</title>

</head>
<body>
	<div class="container center">
		<div class="col-md-6 offset-md-3">
			<img class="imgMargin" src="/img/jslogo.png">
			<h1>
				Node Archive
			</h1>
			<% for(var i = 0; i < nodePosts.length; i++) {%>
				<ul class="list-group">
					<% if(nodePosts[i].Category == 'node') {%>
						<div>
		  					<li class="list-group-item">
		  						<a href="<%=Posts[i].URL %>" target="_blank">
		  						<% if(nodePosts[i].Type == "video") { %>
		  								<i class="fab fa-youtube"></i>
		  									<% } else if(nodePosts[i].Type == "article") { %>	
		  								<i class="far fa-newspaper"></i>
		  									<% } else {%>
		  								<i class="far fa-question-circle"></i>
		  								<% } %>
		  							<%=nodePosts[i].Title %>
		  						</a>
		  					</li>
		  				</div>
					<% } %>
				</ul>
			<% } %>
		</div>
	</div>

<%include ./partials/footer %>